@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400&family=Poppins:wght@100;300;500;600&family=Roboto:wght@100;300;500;700&family=Sedgwick+Ave+Display&display=swap');

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}